#sfdx
.sfdx/orgs/
.sfdx/tools/testresults/
.sfdx/tools/apex.db
.sfdx/tools/apex.db~change-otm-trigger
.sfdx/tools/tempApex.input
.sfdx/typings/
.sfdx/sfdx-config.json
.sfdx/tools/debug

#vim-force.com
.vim-force.com/

#vscode
.vscode/

#config
config/

#force-app/main/default/*/*.xml
force-app/main/default/classes/*.xml
force-app/main/default/pages/*.xml
force-app/main/default/triggers/*.xml
force-app/main/default/components/*.xml
force-app/main/default/aura/*/*-meta.xml
force-app/main/default/testSuites
force-app/main/default/lwc
force-app/main/default/staticresources

#manifest
manifest/

#root-files
.forceignore
.prettierrc
.prettierignore
README.md
sfdx-project.json
uncrustify.cfg

#teste
testesf/